Django~=5.0.7
python-dotenv~=1.0.1
typing_extensions~=4.12.2
pillow~=10.4.0
pip~=24.2
attrs~=23.2.0
wheel~=0.44.0
cryptography~=43.0.1
Jinja2~=3.1.4
base~=0.0.0
asgiref~=3.8.1
sqlparse~=0.5.0
psycopg2~=2.9.9
colorama~=0.4.6
PyYAML~=6.0.2
requests~=2.32.3
click~=8.1.7
tablib~=3.5.0
Werkzeug~=3.0.4
Pygments~=2.18.0